
.git .nocommits {
    text-align: center;
    font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px 0;
    color: #333;
}
.git .commits {
}

.git .commits ul {
    /*list-style-type: decimal;*/
    list-style: none;
    padding-left: 0;
}
.git .commits ul,
.git .commits ul li span {
    color: #333;
}
.git .commits ul li {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}
.git .commits ul li span {
    display: inline-block;
    padding: 6px 0;
}
.git .commits ul li .mark {
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 5px;
    padding: 0;
    background: transparent;
}
.git .commits ul li .mark.marked {
    background: #aaa;
}
.git .commits ul li .number {
    border-right: 1px solid #ddd;
    width: 35px;
    padding-right: 5px;
    text-align: right;
}
.git .commits ul li .message {
    padding-left: 5px;
    width: 520px;
}

.git .commits ul li .branches {
    width: 200px;
    color: #777;
    font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
}
.git .commits ul li .time {
    width: 100px;
    font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-color: #777;
    text-align: right;
    font-style: italic;
}
