<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/fonts.css" media="all">
    <style>
        body {
            background-color: #eee;
        }
        .container {
            width: 900px;
            margin: 0 auto;
        }
        .main.container {
            background-color: #fff;
        }

        header h1 {
            text-align: center;
            font-family: 'Gotham SSm A', 'Gotham SSm B';
            font-size: 50px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <header class="container">
        <h1>JOURNAL</h1>
    </header>

    <div class="main container">
        <form action="">
        </form>
        <div class="git-sidebar">
        </div>
    </div>

    <footer></footer>

</body>
</html>
