{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/home.css" media="all">
{% endblock %}

{% block main %}
    <form action="/preview" method="POST">

    <section class="git">
        <div class="section-title">Git Commits
            {% if commits.commits %}
            <div class="counter font-serif"><span class="number">{{ commits.commits|length }}</span> selected</div>
            {% endif %}
        </div>
        
        {% if commits.commits %}
            <div class="commits box">
                <ul>
                {% for commit, branches in commits.commits %}
                    <li>
                        <span class="mark marked"></span>
                        <span class="number font-mono">{{ loop.index }}</span>
                        <span class="message font-mono">{{ commit.message }}</span>
                        <span class="branches font-serif">{{ ','.join(branches) }}</span>
                        <span class="time font-serif">{{ commit.authored_date|timestamp2strftime }}</span>
                        <span class="hex" style="display:none;">{{ commit.hexsha }}</span>
                    </li>
                {% endfor %}
                </ul>
                <input type="hidden" name="commits" value="{{ commits|joincommitshex }}">
            </div>
        {% else %}
            <div class="nocommits box">No Commits Today</div>
        {% endif %}
    </section>

    <section class="editor">
        <div class="section-title">My Journal</div>
        <div id="epiceditor"></div>
        <textarea id="editorcontent" name="myjournal" style="display: none;"></textarea>
    </section>

    <section class="buttons">
        <input type="submit" value="Preview" class="font-gotham">
    </section>

    </form>
{% endblock %}

{% block script %}
    <script src="/static/EpicEditor/js/epiceditor.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var opts = {
            container: 'epiceditor',
            textarea: 'editorcontent',
            basePath: '/static/EpicEditor',
            clientSideStorage: true,
            localStorageName: 'epiceditor',
            useNativeFullscreen: true,
            parser: marked,
            file: {
                name: 'epiceditor',
                defaultContent: '',
                autoSave: 100
            },
            theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github.css',
                editor: '/themes/editor/epic-light.css'
            },
            button: {
                preview: true,
                fullscreen: false,
                bar: "auto"
            },
            focusOnLoad: true,
            shortcut: {
                modifier: 18,
                fullscreen: 70,
                preview: 80
            },
            string: {
                togglePreview: 'Toggle Preview Mode',
                toggleEdit: 'Toggle Edit Mode',
                toggleFullscreen: 'Enter Fullscreen'
            },
            autogrow: {
                maxHeight: 500,
                minHeight: 300
            }
        }
        var editor = new EpicEditor(opts).load();

        $('.git .commits ul li').on('click', function() {
            var $this = $(this);
            $this.find('.mark').toggleClass('marked');
            var marked = $('.git .commits ul li .mark.marked')
            $('.section-title .counter .number').html(marked.length);
            var hexs = [];
            marked.each(function() {
                hexs.push($(this).parent().find('.hex').html());
            })
            $('input[name="commits"]').val(hexs.join());
        })
    </script>
{% endblock %}
