<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background-color: #eee;
        }
        .container {
            width: 900px;
            margin: 0 auto;
        }
        .main.container {
            background-color: #fff;
        }

        header h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="container">
        <h1>Journal</h1>
    </header>

    <div class="main container">
        <form action="">
        </form>
    </div>

    <footer></footer>

</body>
</html>
